<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="endpoint" value="https://api.spoonacular.com/" />
    <add key="apiKey" value="2d36542fdee94056bdf7451332b65024" />
  </appSettings>
</configuration>